*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;

}
.brand-name{
    background-image: linear-gradient(-90deg,#f8d125,#f8d125);
    font-weight: 600px;
    font-size: 1vw;
    padding: .5%;
    padding-top: 30px;
    }
.headbar{
    background-color: red;
    width: 100%;
 
}


.n-bar{
    background-color: red;
    padding-right: 65vh;
    font-size: 20px;
    font-weight: bold;
}
.navbar .fa{
    color: #ffff!important;
    font-size: 26px;
    outline: none!important;
    border: none !important;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #ffff;
}
.nav-link{
    font-size: 16px;
    margin: 3px;
    color: #ffff!important;
    font-weight: 500px;
}
.navbar-brand{
    font-weight: bold;
    color: #ffff!important;
    font-size: 2vw;
    outline: none!important;
    border: none !important;
    

}
@media only screen and (min-width:620px){
    .navbar-brand{
        visibility: hidden;
       
    }
}

@media only screen and (max-width:1000px){
.hm-cls{
         visibility: hidden;
}
}
@media only screen and (max-width:1000px){
    .nav-link:hover{
        border-bottom: none!important;
    }
    }
.navbar-brand:hover{
    font-weight: 600;
    border-bottom: 1px solid #ffff;

}
.home-page{
    background-color: rgb(252, 252, 126);
    background: url("./images/re-image.jpg");
    height: 80vh;
    background-size: 50%;
    background-size: cover;
    border-radius: 0px!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.home-page2{
        background-color: rgb(255, 249, 161);
        height: 80vh;
        opacity: .5;
        padding-top: 100px
        
    }
    .home-cap{
        color: rgb(5, 5, 5);
        font-weight: bold;
        font-size: 6vw;
    }
    .home-cap2{
        color: rgb(0, 0, 0);
        font-size: 3vw;
        padding-top: 30px;
        padding-right: 10%;
        padding-left: 10%;
    }    
    
    
    .prd-hd{
        padding: 2%;
        background-image: linear-gradient(-90deg,#f70000,#fa0000);
        font-weight: 600;
        font-size: 3vw;
    }
    .r1{
        padding-top: 10px;
    }
    .r1 .r2 .r3{
        margin-left: 20p;
    }
    
    .Services-hd{
        padding: 2%;
        background-image: linear-gradient(-90deg,#f70000,#fa0000);
        font-weight: 600;
        font-size: 3vw;
    }
    .r3{
        padding-bottom: 20px;
    }
    
    .othServ-hd{
        padding: 2%;
        background-image: linear-gradient(-90deg,#f70000,#fa0000);
        font-weight: 600;
        font-size: 3vw;
    }
    .r4{
        padding-bottom: 20px;
    }
   
    .about-hd{
        padding: 2%;
        background-image: linear-gradient(-90deg,#f70000,#fa0000);
        font-weight: 600;
        font-size: 3vw;

    }
    .r5{
        padding-bottom: 20px;
    }
    .plb-hd{
        padding-top: 20px;
        color: #1a1915;
        font-weight:bolder;
        padding: 20px;
    }
    
    .elec-hd{
        padding-top: 20px;
        color: #1a1915;
        font-weight:bolder;
        padding: 20px;
   }
   

  
   .About-2{
    background-color: rgb(252, 252, 126);
    background: url("./images/pexels-victoria-borodinova-3315291.jpg");
    height: 100vh;
    background-size: 50%;
    background-size: cover;
    border-radius: 0px!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
  
   .About-cap{
    padding-top: 25vh;
    font-weight: bold;
    font-size: 6vh;
    
   }
   .content{
    background-color: rgb(26, 22, 22);
    opacity: .5;
    height: 100vh;
   }
   .cont-hd{
    padding: 2%;
    background-image: linear-gradient(-90deg,#f70000,#fa0000);
    font-weight: 600;
    font-size: 3vw;

   }


   .form-group{
       padding-left: 20px;
   }
   .card-img-top{
       height: 40vh;
   }
   .Cont-form{
       padding-top: 6vh;   }
       .footer-icons ul li a span {
        font-size: 19px;
        margin: 0px 15px;
    }
    
